[Unit]
Description=Podman passbolt.service
Before=passbolt-app.service passbolt-db.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/passbolt.pid %t/passbolt.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/passbolt.pid --pod-id-file %t/passbolt.pod-id --name passbolt -p 127.0.0.1:${TCP_PORT}:8080 --replace --network=slirp4netns:allow_host_loopback=true --add-host=accountprovider:10.0.2.2
ExecStart=/usr/bin/podman pod start --pod-id-file %t/passbolt.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/passbolt.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/passbolt.pod-id
PIDFile=%t/passbolt.pid
Type=forking

[Install]
WantedBy=default.target
