[Unit]
Description=Podman passbolt-app.service
BindsTo=passbolt.service
After=passbolt.service passbolt-db.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/passbolt-app.pid %t/passbolt-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/passbolt-app.pid --cidfile %t/passbolt-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/passbolt.pod-id --replace -d \
    --name passbolt-app \
    --env-file=%S/state/config.env \
    --env-file=%S/state/smarthost.env \
    --volume passbolt-gpg:/etc/passbolt/gpg:z \
    --volume passbolt-jwt:/etc/passbolt/jwt:z \
    ${PASSBOLT_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/passbolt-app.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/passbolt-app.ctr-id
PIDFile=%t/passbolt-app.pid
Type=forking

[Install]
WantedBy=default.target